{% include "header.html" %}

<h3 class="h3">Categories <span class="pull-right"><a href="#newcat" class="btn btn-success btn-sm"><i class="fa fa-pencil"></i>Add New</a></span></h3> 

{% with messages = get_flashed_messages() %}
  {% if messages %}
   
    {% for message in messages %}     
      <div class="alert alert-success alert-dismissible fade show" role="alert">
        {{ message }}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
      </div>
    {% endfor %}
  
  {% endif %}
{% endwith %}
{% block body %}{% endblock %}

<div class="row">

    <table class="table table-bordered">
        <thead class="thead-dark">
        <tr>
            <td>ID</td>
            <td>Category Name</td>
            <td>Actions</td>        
        </tr>
        </thead>
        <tbody>
        {% for c in categories: %}
            <tr>
                <td>{{ c.id }}</td>
                <td>
                    <span id="span_{{ c.id }}" >{{ c.category }}</span>
                    <div id="div_{{ c.id }}" class="input-group" style="display:none">                     
                        <input id="input_{{ c.id }}" class="form-control form-control-sm" value="{{ c.category }}" placeholder="{{ c.category }}" type="text">
                        <div class="input-group-append">
                            <button class="updbtn btn btn-success" data-id="{{ c.id }}" type="button" id="update_{{ c.id }}"><i class="fa fa-save"></i></button>
                        </div>                        
                    </div>
                </td>
                <td>
                {%  if c.created_by==session['user_id']  %}
                    <button data-toggle="tooltip" title="Edit this category " type="button" class="btne btn btn-primary btn-sm" data-id="{{c.id}}" data-name="{{c.category}}"><i class="fa fa-pencil"></i></button>
                    <button data-toggle="tooltip" title="Delete this category " type="button" class="btnd btn btn-danger btn-sm" data-created_by="{{c.created_by}}"  data-id="{{c.id}}" data-name="{{c.category}}"><i class="fa fa-trash"></i> </button>
                {% else %}
                    <p class="text-muted">You are not authorized to edit this item</p>
                {% endif %}
                </td>
            </tr>
         {% endfor %}   
        </tbody>
    </table>

</div>
<hr>
<h3 class="h3">New Category </h3> 
<div id="newcat" class="row">
    <form method="POST" action="{{url_for('manage_categories')}}" class="needs-validation" novalidate>
        <div class="form-group">
            <label for="catname">Category Name</label>
            <input type="text" class="form-control" id="catname" name="catname" aria-describedby="catname" placeholder="Name your Category" required>
            <small id="catNameHelp" class="form-text text-muted">Enter the category name in the text box.</small>
            
            <div class="valid-feedback">Looks good!</div>
            <div class="invalid-feedback">Please enter a valid Category Name</div>

            <input type="hidden" id="createdby" name="createdby" value="{{session['user_id'] }}">

        </div>
        <div class="form-group">
             <button id="btnnc" type="submit" class="btn btn-primary">Submit</button>
        </div>
    </form>
</div>
<script>
$(function () {
    

    $(".btnd").on('click',function(){
        var id=$(this).data('id');
        var name=$(this).data('name'); 
        var created_by=$(this).data('created_by');
        var url="{{ url_for('manage_categories') }}";
       yesno=confirm("Are you sure to delete this category : "+ name);
       if(yesno== true){
        $.ajax({
            url:url,
            data: { catname: name, id: id,created_by:created_by },
            method:"DELETE", 
            success:function(data){ 
                alert(data);
                location.reload(); 
            }
        }); 
       }
        

    });
    $(".btne").on('click',function(){
        var id=$(this).data('id');
        $("#span_"+id).toggle();
        $("#div_"+id).toggle();
    });
    $(".updbtn").on('click',function(){
        var url="{{ url_for('manage_categories') }}";
        var id=$(this).data('id');        
        var oldval=$("#input_"+id).attr('placeholder');
        var newval=$("#input_"+id).val();
        var createdby=$("#createdby").val();
        if(newval!==""){
            if(oldval!==newval){

              $.ajax({
                 url:url,
                data: { catname: newval, id: id, created_by: createdby},
                method:"PUT", 
                success:function(data){ 
                    if(data=="updated"){
                        var msg="The category " + oldval + " has been updated to " + newval;
                        alert(msg);
                        location.reload(); 
                    }
                    else{
                        alert(data);
                         location.reload();
                    }

                }       
              });

            }
            else{
                alert("The updated category name is same as the old");
            }
        }
        else{
                alert("The category name cannot be empty");
            }
    });

    $("#btnnc").on('click',function(){
        if($("#catname").val()==""){
            $("#catname").addClass('is-invalid');
            //.is-invalid and .is-valid
        }        
    });
    $("#catname").on('keyup',function(){       
            $("#catname").removeClass('is-invalid').addClass('is-valid');                        
    });
    


})
</script>
{% include "footer.html" %}